# Site Settings
name: GoodTechLife
title: GoodTechLife
description: چرا حریم خصوصی مهم است؟
tags:
  - blog
show_hero: true
menu:
  - title: خانه
    url: /
  - title: درباره ما
    url: /about
  - title: ارتباط با ما
    url: /contact
  - title: Feed
    url: /feed.xml
email:
disqus_username:
translations:
  button:
    read_now: بیشتر بخوانید
    share_on_twitter: اشتراک گذاری در توییتر
    share_on_facebook: اشتراک گذاری در فیس بوک
  text:
    minutes_to_read: دقیقه خوانش
    see_also: همچنین بخوانید
    share: به اشتراک بگذارید
    author: ارسال کننده
    menu: منو

# Social Media Settings
# Remove the item if you don't need it
github_username:
facebook_username:
twitter_username:
instagram_username:
linkedin_username:
medium_username:


# Posts Settings
show_time_bar: false
show_modal_on_exit: false
show_modal_on_finish_post: true
two_columns_layout: true


# Advanced Settings
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site
google_analytics:
language: "fa"
categories_folder: category
sent_message_url: "/contact/message-sent/"


# Build settings
markdown: kramdown
highlighter: rouge
permalink: /:title/
collections:
  authors:
    output: true
paginate_path: "/page/:num/"
show_get_theme_btn: true
use_logo: false

# Content paginator
paginate_content:
  enabled: true
  debug: false
  collections:
    - posts
  auto: false
  separator: "--page-break--"
  permalink: "/:num/"
  seo_canonical: true
  properties:
    part:
      is_generated: true
    last:
      is_generated: true
    single:
      is_generated: true

# SASS
sass:
  style: compressed

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-paginate-content

# Exclude my node related stuff
exclude: [
  'package.json',
  'package-lock.json',
  'src',
  'node_modules',
  'initpost.sh',
  'Gemfile',
  'Gemfile.lock',
  'gulpfile.js',
  'README.md'
]

# Theme
version: v3.0.2
