{% if site.hyvor_username %}

<section class="comments">
    <h3>{{ site.translations.text.comments | default: "Comments" }}</h3>
    <div id="hyvor-talk-view"></div>
</section>
<script type="text/javascript">
            var HYVOR_TALK_WEBSITE = {{ site.hyvor_username }}; // DO NOT CHANGE THIS
            var HYVOR_TALK_CONFIG = {
                url: '{{ site.url }}{{ page.url }}',
                id: '{{page.id}}'
            };
        </script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>


{% endif %}
