@font-face {
    font-family: Vazir;
    src: url('font/vazir/Vazir.eot');
    src: url('font/vazir/Vazir.eot?#iefix') format('embedded-opentype'),
         url('font/vazir/Vazir.woff2') format('woff2'),
         url('font/vazir/Vazir.woff') format('woff'),
         url('font/vazir/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('font/vazir/Vazir-Bold.eot');
    src: url('font/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('font/vazir/Vazir-Bold.woff2') format('woff2'),
         url('font/vazir/Vazir-Bold.woff') format('woff'),
         url('font/vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('font/vazir/Vazir-Black.eot');
    src: url('font/vazir/Vazir-Black.eot?#iefix') format('embedded-opentype'),
         url('font/vazir/Vazir-Black.woff2') format('woff2'),
         url('font/vazir/Vazir-Black.woff') format('woff'),
         url('font/vazir/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('font/vazir/Vazir-Medium.eot');
    src: url('font/vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('font/vazir/Vazir-Medium.woff2') format('woff2'),
         url('font/vazir/Vazir-Medium.woff') format('woff'),
         url('font/vazir/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('font/vazir/Vazir-Light.eot');
    src: url('font/vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('font/vazir/Vazir-Light.woff2') format('woff2'),
         url('font/vazir/Vazir-Light.woff') format('woff'),
         url('font/vazir/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Vazir;
    src: url('font/vazir/Vazir-Thin.eot');
    src: url('font/vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
         url('font/vazir/Vazir-Thin.woff2') format('woff2'),
         url('font/vazir/Vazir-Thin.woff') format('woff'),
         url('font/vazir/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@mixin mainFont($weight: 700) {
  font-family: "Vazir", Helvetica, sans-serif;
  font-weight: $weight;
  font-style: normal;
}

@mixin size($width: 30, $height: 30) {
  width: #{$width}px;
  height: #{$height}px;
}

@mixin center($max-width: map-get($jeet, 'max-width'), $pad: 0) {
  @include clearfix;
  width: auto;
  max-width: $max-width;
  float: none;
  display: block;
  margin: {
    right: auto;
    left:  auto;
  };
  padding: {
    left:  $pad;
    right: $pad;
  };
}

@mixin align($direction: both) {
  position: absolute;
  transform-style: preserve-3d;

  @if index("horizontal" "h", $direction) {
    left: 50%;
    transform: translateX(-50%);
  } @else if index("vertical" "v", $direction) {
    top: 50%;
    transform: translateY(-50%);
  } @else {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
